/* INDEX.HTML- The section below is for the index.html page only. Portfolio.html, contact.html, and 
about.html each have their own sections further down the page. */

   /* The below class is just to change the font/color/size of my name in the top left of Navbar.  */
   .navbar-light .navbar-brand {
   font-size: 40px;
   color: #46FF33;
   text-shadow: -3px 0px #fc33ff, 0 3px #fc33ff, 3px 0 #fc33ff, 0 -3px #fc33ff;
   }

   /* The below class "main" just contains the main image of my website on the index.html page. */
   .main {
      width: 100%;
      padding: 0px 100px 45px 100px;
   }


/* PORTFOLIO.HTML- The section below is for the portfolio.html page only.  */

   #portfolio {
      background-color: black;
   } 

   /* Row 1 of images*/
   #row1 img {
      height: 300px;
      width: 300px;
      object-fit: contain;
   }

/*  CONTACT.HTML- The section directly below is for the contact.html page only.  */

#contact {
   background-color: black;
}